@model abcclicktrans.Data.Models.TransportOrder

@{
    ViewData["Title"] = "DeleteOrder";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<h1 class="h3 mb-3">Zlecenia</h1>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Czy napewno chcesz usunąć zlecenie ?</div>
            <div class="card-body">
                <div class="alert-message">
                    <strong>Chcesz usunąć zlecenie</strong> 
                </div>

                <form asp-action="DeleteOrder">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Usuń" class="btn btn-danger" /> |
                    <a asp-action="Orders">Powrót</a>
                </form>
            </div>
        </div>
    </div>
</div>