@using abcclicktrans.Data.Models
@model abcclicktrans.Data.Models.Vehicle

@{
    ViewData["Title"] = "Edytuj pojazd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact-form-area section-bg pt-50 pb-40 fix" data-background="~/assets/img/gallery/section_bg02.jpg">
    <div class="container">
        <div class="col-xl-8 col-lg-9">
            <div class="contact-form-wrapper">
                <section>
                    <form asp-action="EditVehicle" method="post" class="contact-form">
                        <h2>Edytuj pojazd</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ApplicationUserId" />
                        <input type="hidden" asp-for="ApplicationUser" />
                        <input type="hidden" asp-for="TimeStamp" />
                        <div class="form-group">
                            <label asp-for="VehicleType" class="control-label"></label>
                            <select asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleType>()" class="form-control">
                                <option value="@Model.VehicleType" selected="selected"></option>
                            </select>
                            <span asp-validation-for="VehicleType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Year" class="control-label"></label>
                            <input asp-for="Year" class="form-control" />
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button id="save-submit" type="submit" class="w-100 submit-btn">Edytuj</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <a asp-action="Vehicles">Powrót</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
