<div class="container">
    <div class="row m-4">
    <div class="col-sm-12">
    <div class="text-justify">
    <h3>POLITYKA PRYWATNOŚCI<br/>
        STRONY INTERNETOWEJ WWW.ABCCLICKTRANS.EU
    </h3>
    </div>
    <p>
        <ol class="ordered-list">
            <li>Dla Właściciela niniejszej strony internetowej, ochrona danych osobowych Użytkowników jest sprawą najwyższej wagi. Dokłada on ogrom starań, aby Użytkownicy czuli się bezpiecznie, powierzając swoje dane osobowe w trakcie korzystania ze strony internetowej.</li>
            <li>Użytkownik to osoba fizyczna, osoba prawna albo jednostka organizacyjna, nieposiadająca osobowości prawnej, której ustawa przyznaje zdolność prawną, korzystająca z usług elektronicznych, dostępnych w ramach strony internetowej.</li>
            <li>Niniejsza polityka prywatności wyjaśnia zasady i zakres przetwarzania danych osobowych Użytkownika, przysługujące mu prawa, jak też obowiązki administratora tych danych, a także informuje o używaniu plików cookies.</li>
            <li>Administrator stosuje najnowocześniejsze środki techniczne i rozwiązania organizacyjne, zapewniające wysoki poziom ochrony przetwarzanych danych osobowych oraz zabezpieczenia przed dostępem osób nieupoważnionych.</li>
        </ol>
    </p>
    <h4>
        I. ADMINISTRATOR DANYCH OSOBOWYCH
    </h4>
    <p>
        Administratorem danych osobowych jest Przedsiębiorca Pan Andrzej Grzybowski, prowadzący działalność gospodarczą pod firmą: Andrzej Grzybowski, z siedzibą przy: Hultschiner Str. 59, 47055 Duisburg, Germany, NIP: DE315674923 (zwany dalej: „Właściciel").

    </p>
    <h4>
        II. CEL PRZETWARZANIA DANYCH OSOBOWYCH
    </h4>
    <p>
        <ol class="ordered-list">
            <li>Administrator przetwarza dane osobowe Użytkownika w celu:<br/>
                W celu rejestracji i weryfikacji użytkownika
            </li>
            <li>
                Oznacza to, że dane te są potrzebne w szczególności do<br/>
                a. zarejestrowania się na stronie internetowej;<br/>
                b. dodawanie, edytowanie zleceń transportowych.
            </li>
            <li>
                Użytkownik może również wyrazić zgodę na otrzymywanie informacji o nowościach i promocjach, co spowoduje, że administrator będzie również przetwarzać dane osobowe, w celu przesyłania Użytkownikowi informacji handlowych, dotyczących m.in. nowych produktów lub usług, promocji czy wyprzedaży.
            </li>
            <li>
                Dane osobowe są również przetwarzane w ramach wypełnienia prawnych obowiązków, ciążących na administratorze danych oraz realizacji zadań, w interesie publicznym m.in. do wykonywania zadań, związanych z bezpieczeństwem i obronnością lub przechowywaniem dokumentacji podatkowej.
            </li>
            <li>
                Dane osobowe mogą być również przetwarzane w celach marketingu bezpośredniego produktów, zabezpieczenia i dochodzenia roszczeń lub ochrony przed roszczeniami Użytkownika lub osoby trzeciej, jak również marketingu usług i produktów podmiotów trzecich lub marketingu własnego, niebędącego marketingiem bezpośrednim.
            </li>
        </ol>
    </p>
    <h4>
        III. RODZAJ DANYCH
    </h4>
    <p>
        <ol class="ordered-list">
            <li>
                Administrator przetwarza następujące dane osobowe, których podanie jest niezbędne do:<br/>
                a. zarejestrowania się na stronie internetowej:<br/>
                <ul class="ordered-list-alpha">
                    <li>imię i nazwisko;</li>
                    <li>adres e-mail;</li>
                </ul>
                b. Dane podawane przez Użytkownika opcjonalnie:<br/>
                <ul class="ordered-list-alpha">
                    <li>data urodzenia;</li>
                </ul>
            </li>
            <li>
                Ponadto, administrator przetwarza również następujące dane:
                <ul class="ordered-list-alpha">
                    <li>wpis do ewidencji, numer identyfikacyjny NIP, licencja OCP,licencja na transport</li>
                </ul>
            </li>
        </ol>
    </p>
    <h4>
        IV. PODSTAWA PRAWNA PRZETWARZANIA DANYCH OSOBOWYCH
    </h4>
    <p>
        <ol class="ordered-list">
            <li>
                Dane osobowe są przetwarzane zgodnie z przepisami Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych), OJ L 119, 4.5.2016, p. 1–88, dalej zwane: „rozporządzenie RODO".
            </li>
            <li>
                Administrator przetwarza dane osobowe wyłącznie po uprzednim uzyskaniu zgody Użytkownika, wyrażonej w chwili rejestracji na stronie internetowej.
            </li>
            <li>
                Wyrażenie zgody na przetwarzanie danych osobowych jest całkowicie dobrowolne, jednakże brak jej udzielenia uniemożliwia zarejestrowanie się na stronie internetowej.
            </li>
        </ol>
    </p>
    <h4>
        V. PRAWA PRZYSŁUGUJĄCE UŻYTKOWNIKOWI
    </h4>
    <p>
        <ol class="ordered-list">
            <li>
                Użytkownik może w każdej chwili zażądać od administratora informacji o zakresie przetwarzania danych osobowych.
            </li>
            <li>
                Użytkownik może w każdej chwili zażądać poprawienia bądź sprostowania swoich danych osobowych. Użytkownik może to również zrobić samodzielnie, po zalogowaniu się na swoje konto.
            </li>
            <li>
                Użytkownik może w każdej chwili wycofać swoją zgodę na przetwarzanie jego danych osobowych, bez podawania przyczyny. Żądanie nieprzetwarzania danych może dotyczyć wskazanego przez Użytkownika konkretnego celu przetwarzania np. wycofanie zgody na otrzymywanie informacji handlowych bądź dotyczyć wszystkich celów przetwarzania danych. Wycofanie zgody co do wszystkich celów przetwarzania spowoduje, że konto Użytkownika zostanie usunięte ze strony internetowej, wraz ze wszystkimi wcześniej przetwarzanymi przez administratora danymi osobowymi Użytkownika. Wycofanie zgody nie wpłynie na już dokonane czynności.
            </li>
            <li>
                Użytkownik może w każdej chwili żądać, bez podawania przyczyny, aby administrator usunął Jego dane. Żądanie usunięcia danych nie wpłynie na dotychczas dokonane czynności. Usunięcie danych oznacza jednoczesne usunięcie konta Użytkownika, wraz ze wszystkimi zapisanymi i przetwarzanymi do tej pory przez administratora danymi osobowymi.
            </li>
            <li>
                Użytkownik może w każdej chwili wyrazić sprzeciw przeciwko przetwarzaniu danych osobowych, zarówno w zakresie wszystkich przetwarzanych przez administratora danych osobowych Użytkownika, jak również jedynie w ograniczonym zakresie np. co do przetwarzania danych w konkretnie wskazanym celu. Sprzeciw nie wpłynie na dotychczas dokonane czynności. Wniesienie sprzeciwu spowoduje usunięcie konta Użytkownika, wraz ze wszystkimi zapisanymi i przetwarzanymi do tej pory, przez administratora, danymi osobowymi.
            </li>
            <li>
                Użytkownik może zażądać ograniczenia przetwarzania danych osobowych, czy to przez określony czas, czy też bez ograniczenia czasowego, ale w określonym zakresie, co administrator będzie obowiązany spełnić. Żądanie to nie wpłynie na dotychczas dokonane czynności.
            </li>
            <li>
                Użytkownik może zażądać, aby administrator przekazał innemu podmiotowi, przetwarzane dane osobowe Użytkownika. Powinien w tym celu napisać prośbę do administratora, wskazując, jakiemu podmiotowi (nazwa, adres) należy przekazać dane osobowe Użytkownika oraz jakie konkretnie dane Użytkownik życzy sobie, żeby administrator przekazał. Po potwierdzeniu przez Użytkownika swojego życzenia, administrator przekaże, w formie elektronicznej, wskazanemu podmiotowi, dane osobowe Użytkownika. Potwierdzenie przez Użytkownika żądania jest niezbędne z uwagi na bezpieczeństwo danych osobowych Użytkownika oraz uzyskanie pewności, że żądanie pochodzi od osoby uprawnionej.
            </li>
            <li>
                Administrator informuje Użytkownika o podjętych działaniach, przed upływem miesiąca od otrzymania jednego z żądań wymienionych w poprzednich punktach.
            </li>
        </ol>
    </p>
    <h4>
        VI. OKRES PRZECHOWYWANIA DANYCH OSOBOWYCH
    </h4>
    <p>
        <ol class="ordered-list">
            <li>
                Zasadniczo dane osobowe są przechowywane tylko tak długo, jak to jest konieczne do wypełnienia zobowiązań umownych lub ustawowych, dla których zostały one zgromadzone. Dane te zostaną usunięte natychmiast, gdy ich przechowywanie nie będzie konieczne, w celach dowodowych, zgodnie z prawem cywilnym lub w związku z ustawowym obowiązkiem przechowywania danych.
            </li>
            <li>
                Informacje, dotyczące umowy, przechowuje się w celach dowodowych, przez okres trzech lat, począwszy od końca roku, w którym zakończono relacje handlowe z Użytkownikiem. Usunięcie danych nastąpi po upływie ustawowego terminu przedawnienia dochodzenia roszczeń umownych.
            </li>
            <li>
                Ponadto, administrator może zachować informacje archiwalne, dotyczące zawartych transakcji, gdyż ich przechowywanie jest związane z przysługującymi Użytkownikowi roszczeniami np. z tytułu rękojmi.
            </li>
            <li>
                Jeśli żadna umowa nie została zawarta, między Użytkownikiem i Właścicielem, dane osobowe Użytkownika są przechowywane do czasu usunięcia konta Użytkownika na stronie internetowej. Usunięcie konta może nastąpić w wyniku wysunięcia żądania przez Użytkownika, wycofania zgody na przetwarzanie danych osobowych, bądź też zgłoszenia sprzeciwu co do przetwarzania tych danych.
            </li>
        </ol>
    </p>
    <h4>
        VII. POWIERZENIE PRZETWARZANIA DANYCH INNYM PODMIOTOM
    </h4>
    <p>
        <ol class="ordered-list">
            <li>
                Administrator może powierzać przetwarzanie danych osobowych podmiotom współpracującym z administratorem, w zakresie niezbędnym dla realizacji transakcji np. w celu przygotowania zamówionego towaru oraz dostarczania przesyłek lub przekazywania informacji handlowych, pochodzących od administratora (ostatnie dotyczy Użytkowników, którzy wyrazili zgodę na otrzymywanie informacji handlowych).
            </li>
            <li>
                Poza celami, wskazanymi w niniejszej Polityce Prywatności, dane osobowe Użytkowników, nie będą w żaden sposób udostępniane osobom trzecim, ani przekazywane innym podmiotom, w celu przesyłania materiałów marketingowych tych osób trzecich.
            </li>
            <li>
                Dane osobowe Użytkowników strony internetowej nie są przekazywane poza obszar Unii Europejskiej.
            </li>
            <li>
                Niniejsza Polityka Prywatności jest zgodna z przepisami wynikającymi z art. 13 ust. 1 i ust. 2 rozporządzenia RODO.
            </li>
        </ol>
    </p>
    <h4>
        VIII. PLIKI COOKIES
    </h4>
    <p>
        <ol class="ordered-list">
            <li>
                Strona internetowa używa plików cookies (ciasteczka) lub podobną technologię (dalej łącznie nazywane: "cookies") do zbierania informacji o dostępie Użytkownika do strony internetowej (np. za pomocą komputera lub smartfonu) oraz jego preferencjach. Są one wykorzystywane m.in. w celach reklamowych i statystycznych oraz w celu dostosowania strony internetowej do indywidualnych potrzeb Użytkownika.
            </li>
            <li>
                Pliki cookies to fragmenty informacji, które zawierają unikalny kod referencyjny, który strona internetowa przesyła na urządzenie Użytkownika, w celu przechowywania, a czasem śledzenia informacji, dotyczących używanego urządzenia. Zwykle nie pozwalają one zidentyfikować osoby Użytkownika. Ich głównym zadaniem jest lepsze dopasowanie strony internetowej do Użytkownika.
            </li>
            <li>
                Niektóre z plików cookies, występujące na stronie internetowej, są dostępne tylko przez czas trwania danej sesji internetowej i wygasają po zamknięciu przeglądarki. Inne pliki cookies służą do zapamiętywania Użytkownika, który po powrocie na stronę internetową, jest na niej rozpoznawany. Są one wówczas zachowywane przed dłuższy czas.
            </li>
            <li>
                Pliki cookies używane na niniejszej stronie internetowej to: secure cstt, zamkniecie przegladarki, contest cookie.
            </li>
            <li>
                Wszystkie pliki cookies, występujące na stronie internetowej, są ustalane przez administratora.
            </li>
            <li>
                Wszystkie pliki cookies, używane przez niniejszą stronę internetową, są zgodne z obowiązującym prawem Unii Europejskiej.
            </li>
            <li>
                Większość Użytkowników i niektórych przeglądarek mobilnych automatycznie akceptuje pliki cookies. Jeżeli Użytkownik nie zmieni ustawień, pliki cookies zostaną zapisane w pamięci urządzenia.
            </li>
            <li>
                Użytkownik może zmienić preferencje, dotyczące akceptacji plików cookies lub zmienić przeglądarkę, aby móc otrzymać za każdym razem stosowne powiadomienie, gdy funkcja cookies jest ustawiona. Aby zmienić ustawienia akceptacji cookies, należy dostosować ustawienia w przeglądarce.
            </li>
            <li>
                Warto pamiętać, że blokowanie lub usuwanie plików cookies może uniemożliwić pełne korzystanie ze strony internetowej.
            </li>
            <li>
                Pliki cookies będą wykorzystywane do niezbędnego zarządzania sesją, w tym:
                <ul class="ordered-list-alpha">
                    <li>
                        Tworzenia specjalnej sesji logowania dla Użytkownika strony internetowej, aby strona zapamiętała, że Użytkownik jest zalogowany, a jego żądania były dostarczane w sposób skuteczny, bezpieczny i spójny;
                    </li>
                    <li>
                        Rozpoznawania Użytkownika, który już wcześniej odwiedził stronę internetową, co pozwala na identyfikację liczby unikalnych użytkowników, którzy skorzystali z serwisu i pozwala upewnić się co do wystarczającej pojemności serwisu dla liczby nowych użytkowników;
                    </li>
                    <li>
                        Rozpoznawania, czy osoba odwiedzająca stronę internetową jest zarejestrowana na stronie internetowej;
                    </li>
                    <li>
                        Rejestrowanie informacji z urządzenia Użytkownika, w tym: pliki cookies, adres IP i informacje o używanej przeglądarce, w celu możliwości diagnozowania problemów, administrowania i śledzenia Użytkowania witryny;
                    </li>
                    <li>
                        Dostosowywania elementów układu szaty graficznej lub zawartości strony internetowej;
                    </li>
                    <li>
                        Zbierania informacji statystycznych o tym, jak Użytkownik korzysta ze strony, w celu możliwości ulepszania witryny i stwierdzenia, które zakresy strony internetowej są najbardziej popularne dla Użytkowników.
                    </li>
                </ul>
            </li>
        </ol>
    </p>
    </div>
    </div>
</div>

