@{
    ViewData["Title"] = "Regulamin";
}
<div class="container">
    <div class="row m-4">
        <div class="col-sm-12">
            <div class="text-justify">
                <h3>
                    REGULAMIN<br />
                    OGÓLNE WARUNKI UŻYTKOWANIA STRONY INTERNETOWEJ
                </h3>
                <h4>
                    I. PREAMBUŁA
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Niniejszy dokument określa warunki dostępu i korzystania ze strony internetowej, zwany będzie dalej: "Ogólne warunki".
                        </li>
                        <li>
                            Każdy Użytkownik z chwilą podjęcia czynności zmierzających do korzystania ze strony internetowej zobowiązany jest do zapoznania się, przestrzegania oraz akceptacji Ogólnych warunków, bez ograniczeń i zastrzeżeń.
                        </li>
                        <li>
                            W przypadku niewyrażenia zgody na wszystkie Ogólne warunki należy zaprzestać korzystania ze strony internetowej i natychmiast ją opuścić.
                        </li>
                        <li>
                            Wszystkie nazwy handlowe, nazwy firm i ich logo, użyte na stronie internetowej należą do ich właścicieli i są używane wyłącznie w celach identyfikacyjnych. Mogą być one zastrzeżone znakami towarowymi.
                        </li>
                        <li>
                            Zabrania się nieuprawnionego korzystania z zawartości strony internetowej, utworów lub informacji, jak też ich nieuprawnionej reprodukcji, retransmisji lub innego użycia jakiegokolwiek elementu strony internetowej, gdyż takie działanie może naruszać m.in. prawa autorskie lub chronione znaki towarowe.
                        </li>
                        <li>
                            Pytania lub uwagi dotyczące strony internetowej można zgłaszać na następujący adres email: abcclicktrans@gmx.de.
                        </li>
                    </ol>
                </p>

                <h4>
                    II. DEFINICJE
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            <b>FORMULARZ KONTAKTOWY -</b> kwestionariusz dostępny na stronie internetowej, który umożliwia natychmiastowe wysłanie wiadomości do Właściciela strony internetowej;
                        </li>
                        <li>
                            <b>FORMULARZ REJESTRACJI -</b> kwestionariusz dostępny na stronie internetowej umożliwiający rejestrację i utworzenie Konta na stronie internetowej
                        </li>
                        <li>
                            <b>KONTO -</b> oznaczony indywidualną nazwą lub loginem oraz hasłem zbiór zasobów na stronie internetowej, w którym gromadzone są dane Użytkownika;
                        </li>
                        <li>
                            <b>NEWSLETTER -</b> Usługa Elektroniczna pozwalająca Użytkownikowi na złożenie zamówienia dotyczącego otrzymywania na podany adres e-mail lub numer telefonu bezpłatnych informacji pochodzących od Właściciela, dotyczących strony internetowej;
                        </li>
                        <li>
                            <b>PRAWO WŁAŚCIWE -</b> Do celów realizacji Ogólnych warunków zastosowanie ma prawo niemieckie;
                        </li>
                        <li>
                            <b>STRONA INTERNETOWA -</b> narzędzie, o nazwie: www.abcclicktrans.eu, służące do świadczenia usług elektronicznych;
                        </li>
                        <li>
                            <b>UŻYTKOWNIK -</b> osoba fizyczna, osoba prawna albo jednostka organizacyjna nieposiadająca osobowości prawnej, której ustawa przyznaje zdolność prawną, korzystająca z usług elektronicznych dostępnych w ramach strony internetowej;
                        </li>
                        <li>
                            <b>WARUNKI -</b> zbiór wszystkich postanowień m.in. niniejszych Ogólnych warunków, zasad polityki prywatności, plików cookies, regulaminu korzystania ze sklepu internetowego oraz wszelkich innych warunków, znajdujących się na stronie internetowej, które dotyczą określonych funkcji, właściwości lub promocji, jak również obsługi klienta;
                        </li>
                        <li>
                            <b>WŁAŚCICIEL -</b> Podmiot udostępniający niniejszą stronę internetową, mianowicie: Przedsiębiorca Pan Andrzej Grzybowski, prowadzący działalność gospodarczą pod firmą: Andrzej Grzybowski, z siedzibą przy: Hultschiner Str. 59, 47055 Duisburg, Germany, NIP: DE315674923;
                        </li>
                        <li>
                            <b>WYSZUKIWARKA -</b> bezpłatna Usługa Elektroniczna udostępniona Usługobiorcom przez Usługodawcę, umożliwiająca wyszukiwanie określonych ogłoszeń lub treści na podstawie podanych przez Usługobiorcę kryteriów (przy użyciu filtrów).
                        </li>
                    </ol>
                </p>

                <h4>
                    III. ZAKRES WARUNKÓW
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Właściciel zapewnia dostęp do zawartości strony internetowej, zgodnie z poniższymi Ogólnymi warunkami.
                        </li>
                        <li>
                            Zawartość i dane publikowane na stronie internetowej mają charakter informacji dla osób zainteresowanych i mogą być wykorzystywane jedynie do celów informacyjnych.
                        </li>
                        <li>
                            Właściciel ma prawo zamieszczania treści reklamowych, które stanowią integralną część serwisu i prezentowanych w nim materiałów.
                        </li>
                        <li>
                            Użytkownicy mogą korzystać z dostępu i usług oferowanych na stronie internetowej, pod warunkiem uprzedniego wyrażenia zgody na Ogólne warunki.
                        </li>
                    </ol>
                </p>

                <h4>
                    IV. ZASADY KORZYSTANIA ZE STRONY INTERNETOWEJ
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Strona internetowa jest obsługiwana przez wszelkiego rodzaju przeglądarki internetowe. Nie wymaga się żadnych szczególnych właściwości urządzenia końcowego Użytkownika.
                        </li>
                        <li>
                            Po zaakceptowaniu Warunków, Użytkownik ma prawo przeglądać, kopiować, drukować oraz rozpowszechniać, bez dokonywania zmian w treści, zawartość niniejszej strony internetowej, pod warunkiem, że:
                            <br />
                            <ul class="ordered-list-alpha">
                                <li>treści te będą wykorzystywane wyłącznie informacyjnie, w celach niekomercyjnych;</li>
                                <li>każda wykonana kopia będzie zawierała informacje na temat praw autorskich lub dane dotyczące autora treści.</li>
                            </ul>
                        </li>
                        <li>
                            Zakazane jest używanie i kopiowanie oprogramowania, procesów i technologii, stanowiących część strony internetowej.
                        </li>
                        <li>
                            Użytkownicy mogą korzystać ze strony internetowej jedynie w poszanowaniu przepisów ustawy prawo telekomunikacyjne, ustawy o świadczeniu usług drogą elektroniczną i odpowiednich przepisów prawa cywilnego.
                        </li>
                        <li>
                            Zabronione jest korzystanie ze strony internetowej:<br />
                            <ul class="ordered-list-alpha">
                                <li>w sposób prowadzący do naruszenia obowiązujących przepisów prawa;</li>
                                <li>w jakikolwiek sposób niezgodny z prawem lub nieuczciwy, albo w sposób, zmierzający do osiągnięcia niezgodnego z prawem lub nieuczciwego celu;</li>
                                <li>do celów związanych z wyrządzaniem szkody dzieciom lub prób wyrządzenia im jakiejkolwiek szkody;</li>
                                <li>do wysyłania, świadomego otrzymywania, wgrywania lub używania treści niezgodnych z Ogólnymi warunkami;</li>
                                <li>do przekazywania lub prowokowania wysyłki jakichkolwiek niezamówionych lub nieuprawnionych reklam lub materiałów promocyjnych, jak również jakichkolwiek form podobnych, zaliczanych do zbiorczej kategorii SPAM;</li>
                                <li>do świadomego przekazywania jakichkolwiek danych, wysyłania lub wgrywania jakichkolwiek materiałów zawierających wirusy, konie trojańskie, oprogramowanie szpiegujące (spyware), oprogramowanie z reklamami (adware) lub inny szkodliwy program lub zbliżone kody komputerowe zaprogramowane, by niekorzystnie wpływać lub zagrażać na funkcjonowanie jakiegokolwiek oprogramowania lub sprzętu komputerowego albo niekorzystnie wpływać lub zagrażać Użytkownikowi.</li>
                            </ul>
                        </li>
                    </ol>
                </p>
                <h4>
                    V. COOKIES
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Strona internetowa używa plików cookies (ciasteczka) lub podobną technologię (dalej łącznie nazywane: "cookies") do zbierania informacji o dostępie Użytkownika do strony internetowej (np. za pomocą komputera lub smartfona) oraz jego preferencjach. Są one wykorzystywane m.in. w celach reklamowych i statystycznych oraz w celu dostosowania strony internetowej do indywidualnych potrzeb Użytkownika.
                        </li>
                        <li>
                            Pliki cookies to fragmenty informacji, które zawierają unikalny kod referencyjny, który strona internetowa przesyła na urządzenie Użytkownika, w celu przechowywania, a czasem śledzenia informacji dotyczących używanego urządzenia. Zwykle nie pozwalają one zidentyfikować osoby Użytkownika. Ich głównym zadaniem jest lepsze dopasowanie strony internetowej do Użytkownika.
                        </li>
                        <li>
                            Niektóre z plików cookies, występujące na stronie internetowej, są dostępne tylko przez czas trwania danej sesji internetowej i wygasają po zamknięciu przeglądarki. Inne pliki cookies służą do zapamiętywania Użytkownika, który po powrocie na stronę internetową, jest na niej rozpoznawany. Są one wówczas zachowywane przed dłuższy czas.
                        </li>
                        <li>
                            Wszystkie pliki cookies, używane przez niniejszą stronę internetową, są zgodne z obowiązującym prawem Unii Europejskiej.
                        </li>
                        <li>
                            Większość Użytkowników i niektórych przeglądarek mobilnych automatycznie akceptuje pliki cookies. Jeżeli ustawienia te pozostaną bez zmian, pliki cookies zostaną zapisane w pamięci urządzenia.
                        </li>
                        <li>
                            Użytkownik może zmienić preferencje dotyczące akceptacji plików cookies lub zmienić przeglądarkę, aby móc otrzymać za każdym razem stosowne powiadomienie, gdy funkcja cookies jest ustawiona. Aby zmienić ustawienia akceptacji cookies, należy dostosować ustawienia w przeglądarce.
                        </li>
                        <li>
                            Warto pamiętać, że blokowanie lub usuwanie plików cookies może uniemożliwić pełne korzystanie ze strony internetowej.
                        </li>
                        <li>
                            Pliki cookies będą wykorzystywane do niezbędnego zarządzania sesją, w tym:<br />
                            <ul class="ordered-list-alpha">
                                <li>Tworzenia specjalnej sesji logowania dla Użytkownika strony internetowej, aby strona zapamiętała, że Użytkownik jest zalogowany, a jego żądania były dostarczane w sposób skuteczny, bezpieczny i spójny;</li>
                                <li>Rozpoznawania Użytkownika, który już wcześniej odwiedził stronę internetową co pozwala na identyfikację liczby unikalnych użytkowników, którzy skorzystali z serwisu i pozwala upewnić się co do wystarczającej pojemności serwisu dla liczby nowych użytkowników;</li>
                                <li>Rozpoznawania, czy osoba odwiedzająca stronę internetową jest zarejestrowana na stronie internetowej;</li>
                                <li>Rejestrowanie informacji z urządzenia Użytkownika, w tym: pliki cookies, adres IP i informacje o używanej przeglądarce, w celu możliwości diagnozowania problemów, administrowania i śledzenia Użytkowania witryny;</li>
                                <li>Dostosowywania elementów układu szaty graficznej lub zawartości strony internetowej;</li>
                                <li>Zbierania informacji statystycznych o tym, jak Użytkownik korzysta ze strony, w celu możliwości ulepszania witryny i stwierdzenia, które zakresy strony internetowej są najbardziej popularne dla Użytkowników.</li>
                            </ul>
                        </li>
                    </ol>
                </p>
                <h4>
                    VI. PLUGIN FACEBOOKA
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Strona internetowa zawiera plugin (wtyczkę) do serwisu społecznościowego Facebook.
                        </li>
                        <li>
                            Plugin Facebooka jest oznaczony logo Facebook.
                        </li>
                        <li>
                            Plugin ten bezpośrednio połączy z profilem Właściciela na serwerze Facebooka. Facebook może wówczas uzyskać informacje, że Użytkownik odwiedził stronę internetową ze swojego adresu IP.
                        </li>
                        <li>
                            Jeżeli Użytkownik odwiedza stronę internetową będąc zalogowanym na swoim profilu na Facebooku, Facebook zarejestruje informację o wizycie. Nawet w sytuacji, gdy Użytkownik nie jest zalogowany na Facebooku, Facebook jest w stanie pozyskiwać informacje o adresie IP.
                        </li>
                        <li>
                            Facebook nie przekazuje Właścicielowi informacji o gromadzonych danych i sposobie ich wykorzystania. Cel i zakres danych gromadzonych przez Facebook nie są znane Właścicielowi. W celu uzyskania dodatkowych informacji, dotyczących prywatności na portalu Facebook, należy kontaktować się bezpośrednio z Facebookiem lub zapoznać się z polityką prywatności portalu pod adresem: https://www.facebook.com/about/privacy/.
                        </li>
                        <li>
                            Jeżeli Użytkownik nie chce, aby Facebook mógł pozyskiwać informacje dotyczące przeglądania strony internetowej dobrze jest, aby Użytkownik wylogował się wcześniej ze swojego konta na Facebooku.
                        </li>
                    </ol>
                </p>
                <h4>
                    VII. PLUGIN INNYCH PORTALI SPOŁECZNOŚCIOWYCH
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Właściciel może również używać innych plugin (wtyczek) społecznościowych (np. Twitter, Google+ albo LinkedIn).
                        </li>
                        <li>
                            Wtyczki do portali społecznościowych można zidentyfikować po ikonkach służących do udostępniania informacji na danej platformie.
                        </li>
                        <li>
                            Wtyczki umożliwiają użytkownikom tych platform linkowanie strony internetowej w ich postach, umieszczonych na tych platformach społecznościowych.
                        </li>
                        <li>
                            Wtyczki bezpośrednio połączą z profilem Właściciela na serwerze danego portalu społecznościowego. Portal ten może wówczas uzyskać informacje, że Użytkownik odwiedził stronę internetową ze swojego adresu IP.
                        </li>
                        <li>
                            Podczas wizyty Użytkownika na profilu, administrator serwisu społecznościowego korzysta z plików cookies i innych podobnych technologii, w celu monitorowania zachowania i akcji podejmowanych przez Użytkownika. Informacje te gromadzone są między innymi na potrzeby stworzenia tzw. statystyki strony. Statystyki zawierają wyłącznie zanonimizowane dane statystyczne na temat użytkowników odwiedzających profil i nie ma możliwości powiązania ich z konkretną osobą. Właściciel nie ma dostępu do danych osobowych wykorzystywanych przez serwisy społecznościowe na potrzeby przygotowywania m.in. statystyk strony.
                        </li>
                        <li>
                            Dzięki generowanym przez serwis społecznościowy statystykom strony, Właściciel posiada informacje o tym, w jaki sposób Użytkownicy korzystają z profili Właściciela oraz które, z publikowanych treści, są najbardziej popularne. Dzięki tym informacjom, Właściciel może optymalizować swoje profile poprzez lepsze dopasowanie publikowanych treści do zainteresowań i zachowań Użytkowników. Podmiotem odpowiedzialnym za przetwarzanie danych Użytkowników na potrzeby generowania statystyk strony jest administrator każdego z ww. serwisów społecznościowych. Wobec tego, administratorzy zobowiązani są do poinformowania Użytkowników o wszelkich sprawach, związanych z przetwarzaniem danych osobowych, na potrzeby tworzenia statystyk strony oraz o możliwości skorzystania z prawa ochrony prywatności, przysługującego zgodnie z obowiązującymi przepisami prawa.
                        </li>
                    </ol>
                </p>
                <h4>
                    VIII. LINKI ZEWNĘTRZNE
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Odnośniki znajdujące się na niniejszej stronie, do innych stron internetowych, są podane wyłącznie w celu informacyjnym.
                        </li>
                        <li>
                            Właściciel strony internetowej nie ponosi odpowiedzialności za treści znajdujące się na innych witrynach, ani za jakiekolwiek szkody wynikające z ich użytkowania.
                        </li>
                    </ol>
                </p>
                <h4>
                    IX. NEWSLETTER
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Istnieje możliwość subskrybowania newslettera, poprzez podanie adresu e-mail lub numeru telefonu i wyrażenie zgody na przetwarzanie danych osobowych Użytkownika, w celu otrzymywania od Właściciela informacji handlowych oraz marketingowych, drogą mailową lub za pomocą wiadomości SMS.
                        </li>
                        <li>
                            Poprzez newsletter, wysłany drogą e-mailową lub za pomocą wiadomości SMS, Właściciel informuje Użytkownika o najnowszych ofertach np. nowościach, promocjach czy wyprzedażach.
                        </li>
                        <li>
                            Użytkownik może w każdym czasie zrezygnować z subskrypcji newslettera, klikając w link zawarty w otrzymanym newsletterze lub przesyłając wiadomość e-mail na adres: abcclicktrans@gmx.de.
                        </li>
                    </ol>
                </p>
                <h4>
                    X. FORMULARZ KONTAKTOWY
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            Użytkownik może wpisać swoje dane kontaktowe, wypełniając specjalny formularz przewidziany do kontaktu z Właścicielem, treść wiadomości i akceptując ich wysyłkę do Właściciela.
                        </li>
                        <li>
                            Pozostawienie danych kontaktowych oznacza, że Użytkownik wyraził zgodę na przetwarzanie przez Właściciela podanych w Formularzu Kontaktowym danych osobowych. Właściciel będzie mógł użyć podanych danych kontaktowych, w celu wysłania ofert lub nawiązania kontaktu z Użytkownikiem.
                        </li>
                    </ol>
                </p>
                <h4>
                    XI. FORMULARZ REJESTRACJI
                </h4>
                <p>
                    <ol class="ordered-list">
                        <li>
                            W ramach formularza rejestracji, Użytkownik może wpisać swoje dane osobowe, aby zarejestrować się jako zidentyfikowany Użytkownik na stronie internetowej i utworzyć swoje Konto.
                        </li>
                        <li>
                            Po zarejestrowaniu, gdy Użytkownik odwiedzi ponownie stronę internetową, będzie mógł zalogować się jako zidentyfikowany Użytkownik na swoje Konto.
                        </li>
                        <li>
                            Po zalogowaniu na Konto, strona internetowa będzie dysponowała danymi osobowymi i kontaktowymi Użytkownika, podanymi podczas rejestracji lub w późniejszym okresie, które umożliwią sprawniejszy kontakt, przesył danych lub płatność za usługę lub towary, dostępne na stronie internetowej.
                        </li>
                        <li>
                            Zarejestrowanie Użytkownika i w rezultacie zapisanie Jego danych osobowych oznacza, że Użytkownik wyraził zgodę na przetwarzanie przez Właściciela danych osobowych Użytkownika, podanych w Formularzu Rejestracji.
                        </li>
                    </ol>
                </p>
                <h4>
                    XII. WYSZUKIWARKA
                </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Użytkownik może wyszukiwać na stronie internetowej szukanych informacji, wpisując w wyszukiwarce, umieszczonej na stronie internetowej, hasło, którego szuka. Opcja ta umożliwia Użytkownikowi szybszy filtr informacji, niż zapoznawanie się z treścią całej strony internetowej, w poszukiwaniu tego, po co Użytkownik pojawił się na stronie internetowej.
                    </li>
                </ol>
            </p>
            <h4>
                XIII. POSZANOWANIE WŁASNOŚCI INTELEKTUALNEJ
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Strona internetowa oraz jej treści mogą być chronione prawami autorskimi, prawami dotyczącymi znaków towarowych oraz innymi przepisami, związanymi z ochroną własności intelektualnej.
                    </li>
                    <li>
                        Znaki, loga i inne spersonalizowane emblematy Właściciela, pojawiające się na stronie internetowej (zwane łącznie: "Znakami"), stanowią znaki towarowe Właściciela.
                    </li>
                    <li>
                        Z wyjątkiem osobnych, indywidualnych, pisemnych upoważnień, Użytkownik nie może wykorzystywać przez siebie, należących do Właściciela, Znaków: osobno, ani w zestawieniu z innymi elementami słownymi lub graficznymi, szczególnie w informacjach prasowych, reklamach, materiałach promocyjnych, marketingowych, w mediach, w materiałach pisemnych lub ustnych, w formie elektronicznej, w formie wizualnej ani w żadnej innej formie.
                    </li>
                </ol>
            </p>
            <h4>
                XIV. OCHRONA DANYCH UŻYTKOWNIKA
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Właściciel szanuje w pełni prywatność Użytkowników. Szczegółowe informacje na temat sposobu gromadzenia i przetwarzania danych osobowych Użytkownika lub innych informacji, jak również sytuacji, w których Właściciel może je ujawniać, znajdują się w zakładce Polityka Prywatności.
                    </li>
                </ol>
            </p>
            <h4>
                XV. OGRANICZENIE ODPOWIEDZIALNOŚCI
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Strona internetowa zawiera informacje o charakterze ogólnym. Nie ma na celu pośredniczyć w świadczeniu jakichkolwiek usług doradztwa profesjonalnego. Przed podjęciem czynności mających wpływ na sytuację finansową lub działalność gospodarczą Użytkownika należy skontaktować się z profesjonalnym doradcą.
                    </li>
                    <li>
                        Strona internetowa nie zapewnia żadnych gwarancji dotyczących jej treści, w szczególności gwarancji bezpieczeństwa, bezbłędności, braku wirusów czy złośliwych kodów, gwarancji dotyczących poprawnego działania czy jakości.
                    </li>
                    <li>
                        Strona internetowa nie zapewnia żadnej rękojmi, wyraźnej lub dorozumianej, w tym gwarancji przydatności handlowej lub przydatności do określonego celu, nienaruszenia praw autorskich, dostosowania, bezpieczeństwa i rzetelności informacji.
                    </li>
                    <li>
                        Użytkownik korzysta ze strony internetowej na własne ryzyko i przyjmuje na siebie pełną odpowiedzialność za szkody związane lub wynikające z jej wykorzystania, zarówno bezpośrednie jak i pośrednie, uboczne, następcze, moralne, lub inne szkody z tytułu odpowiedzialności umownej, deliktowej, z tytułu zaniedbań, w tym m.in. za utratę danych lub usług.
                    </li>
                    <li>
                        Strona internetowa nie ponosi żadnej odpowiedzialności za linki zamieszczone na stronie internetowej, szczególnie jeśli prowadzą do witryn, zasobów lub narzędzi utrzymywanych przez osoby trzecie.
                    </li>
                    <li>
                        Właściciel nie ponosi odpowiedzialności, jeśli strona internetowa jest z jakichkolwiek przyczyn tymczasowo lub długookresowo niedostępna.
                    </li>
                    <li>
                        Właściciel nie ponosi odpowiedzialności za informacje przekazywane na stronie internetowej, ani też nie może zapewnić całkowitego bezpieczeństwa transakcji lub komunikacji, prowadzonych za pomocą strony internetowej.
                    </li>
                    <li>
                        Pomimo podejmowania przez Właściciela największych starań, w kwestii zapewnienia dokładności i aktualności strony internetowej, mogą pojawić się niezamierzone przez Właściciela błędy, które Użytkownik, po ich wykryciu, proszony jest zgłaszać Właścicielowi.
                    </li>
                    <li>
                        Wszystkie wskazane powyżej wyłączenia i ograniczenia odpowiedzialności obowiązują w najszerszym dopuszczalnym prawnie zakresie, obejmując każdy typ istniejącej odpowiedzialności m.in. odpowiedzialności kontraktowej, deliktowej i każdej innej przewidzianej w polskim lub zagranicznym porządku prawnym.
                    </li>
                </ol>
            </p>
            <h4>
                XVI. WAŻNOŚĆ POSTANOWIEŃ
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Gdyby którekolwiek z postanowień Ogólnych warunków było lub miało stać się nieważne lub bezskuteczne, w dowolnym systemie prawnym, pozostała część Warunków pozostaje ważna i nienaruszona. Strony zastąpią nieważne lub bezskuteczne postanowienie innym, które możliwie najwierniej oddaje zamierzony cel. Odpowiednio dotyczy to także ewentualnych luk w Ogólnych warunkach.
                    </li>
                    <li>
                        Gdyby którekolwiek z postanowień Ogólnych warunków było lub miało stać się nieważne lub bezskuteczne, w jednym lub kilku systemach prawnych, wszystkie postanowienia Ogólnych warunków zachowują ważność w każdym innym systemie prawnym.
                    </li>
                </ol>
            </p>
            <h4>
                XVII. STOSUNEK DO ZAWARTYCH UMÓW
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Jeśli nie postanowiono inaczej, Ogólne warunki stanowią kompletną i wyczerpującą umowę pomiędzy Użytkownikiem i Właścicielem, dotyczącą korzystania ze strony internetowej, w zakresie treści w nich zawartych oraz zastępują wszelkie inne porozumienia, uzgodnienia i umowy dotyczące przedmiotu (treści) niniejszych Ogólnych warunków.
                    </li>
                </ol>
            </p>
            <h4>
                XVIII. ZMIANA WARUNKÓW STRONY INTERNETOWEJ
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Właściciel strony internetowej zastrzega sobie prawo do dokonywania modyfikacji niniejszych Ogólnych warunków, w dowolnym momencie ich obowiązywania, zamieszczając ich zaktualizowaną wersję na stronie internetowej, które zaczynają obowiązywać Użytkowników od momentu ich publikacji, chyba że inaczej wskazano w zmodyfikowanych Ogólnych warunkach.
                    </li>
                    <li>
                        Użytkownik ma obowiązek zapoznania się z modyfikacjami Ogólnych warunków, o czym Właściciel poinformuje go, wysyłając do Niego wiadomość lub komunikat o zmianach Ogólnych warunków do zaakceptowania.
                    </li>
                    <li>
                        Dalsze korzystanie ze strony internetowej jest równoznaczne z akceptacją zmodyfikowanych Warunków strony internetowej.
                    </li>
                </ol>
            </p>
            <h4>
                XIX. ROZWIĄZYWANIE SPORÓW
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        Wszelkie powstałe spory Strony postanawiają w pierwszej kolejności rozwiązać w trybie polubownego załatwienia sprawy, przed właściwym sądem polubownym (zapis na sąd polubowny).
                    </li>
                    <li>
                        Jeśli polubowne załatwienie sprawy okaże się niemożliwe, spór wynikający z niniejszej umowy zostanie rozstrzygnięty przez sąd, w którego okręgu znajduje się siedziba Właściciela.
                    </li>
                </ol>
            </p>
            <h4>
                XX. PODSTAWA PRAWNA
            </h4>
            <p>
                <ol class="ordered-list">
                    <li>
                        W sprawach nieuregulowanych w niniejszych Warunkach stosuje się odpowiednio: prawo niemieckie dotyczące prawa telekomunikacyjnego oraz świadczenia usług drogą elektroniczną.
                    </li>
                </ol>
            </p>
            </div>
        </div>
    </div>
</div>

