@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie Email";
}

<div class="our-info-area pt-70 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <partial name="_StatusMessage" model="Model.StatusMessage" />
            </div>
        </div>
    </div>
</div>
