@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="slider-area ">
    <div class="hero-overly slider-height2 d-flex align-items-center" data-background="~/assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap">
                        <h2>Moje konto</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-low-area section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <h2>Zarządzaj swoim kontem</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
